.parent {
    padding: 30px;
    background-color: limegreen;
    display: flex;
}
.child {
    padding: 30px;
    background-color: yellow;
    margin: 25px;
    border: 2px solid black;
    font-size: 24px;
    
    
}