.parent {
    padding: 30px;
    background-color: limegreen;
}
.child {
    padding: 20px;
    background-color: yellow;
    margin: 10px;
    border: 2px solid black;
    font-size: 24px;
    text-align: center;
    
}